@page "/"

<textarea readonly rows="12" cols="500">@Output</textarea>
<br />
<br />

<button class="btn btn-primary" @onclick="Test">Test</button>
<br />
<br />

<button class="btn btn-primary" @onclick="WriteData">Write Data</button>
<br />
<br />
<button class="btn btn-primary" @onclick="GetData">Get Data</button>
<br />
<br />

<hr />

<button class="btn btn-primary" @onclick="IsLoggedIn">Is logged in?</button>
<br />
<br />
<button class="btn btn-primary" @onclick="Login">Login</button>
<br />
<br />
<button class="btn btn-primary" @onclick="Logout">LogOut</button>
<br />
<br />

<hr />


<button class="btn btn-primary" @onclick="WriteDataForUser">Write Data for logged in user</button>
<br />
<br />
<button class="btn btn-primary" @onclick="GetDataForUser">Get Data for logged in user</button>
<br />
<br />

